# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

'scopeName': 'source.block'
'name': 'happy-block'
'fileTypes': [
  'block'
]
'patterns': [
  {
    'match': '^(.*)--([^\u4e00-\u9fa5\(]*)([\u4e00-\u9fa5\(].*)'
    'name': 'keyword.other.block'
    'captures':
        '1':
            'name':'keyword.word-type.block'
        '2':
            'name':'keyword.word-en-trans.block'
        '3':
            'name':'keyword.word-zh-trans.block'
  }
  {
    'match': '^-- .*'
    'name': 'keyword.other.trans-subtitle'
    'captures':
        '0':
            'name':'keyword.trans-subtitle.block'
  }
  {
    'match': '^## .*'
    'name': 'keyword.other.block'
    'captures':
        '0':
            'name':'keyword.trans-zh-trans.block'
  }
  {
    'match': '^# .*'
    'name': 'keyword.other.block'
    'captures':
        '0':
            'name':'keyword.word-title.block'
  }
  {
    'match': '^[1234567890]\.'
    'name': 'keyword.other.block'
    'captures':
        '0':
            'name':'keyword.word-indexss.block'
  }
]
